{% extends 'blood/adminbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<br><br>
<div class="container">
    <H4 class="text-center">Hospital's Detail</H4><br>
    <table class="table table-light table-hover table-bordered table-striped">
        <thead class="bg-dark">
            <tr>
                <th scope="col" font-weight:600; style="color: #000;">Name</th>
                <th scope="col" style="color: #000;">Photo</th>
                <th scope="col" style="color: #000;">Blood Group</th>
                <th scope="col" style="color: #000;">Age</th>
                <th scope="col" style="color: #000;">Disease</th>
                <th scope="col" style="color: #000;">Contact</th>
                <th style="color: #000;">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for t in patients %}
            <tr>
                <td> {{t.get_name}}</td>
                <td> <img src="{% static t.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
                <td>{{t.bloodgroup}}</td>
                <td>{{t.age}}</td>
                <td>{{t.disease}}</td>
                <td>{{t.mobile}}</td>
                
                <td>
                    <button class="btn btn-success btn-sm"><a  style="text-decoration: none;color: white;" href="{% url 'update-patient' t.id  %}">Edit</a> </button>
                    <button class="btn btn-danger btn-sm"><a  style="text-decoration: none;color: white;" href="{% url 'delete-patient' t.id  %}">Delete</a> </button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    
    </table>
</div>


{% endblock content %}
